audio {
    width: 100px;
}

html,
body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-color: gold;
    overflow: hidden; /*Evite scrolling*/
}


/* ******ANIMATION BACKGROUND */

@-webkit-keyframes scrollHorizontalBG {
    from {
        background-position: left top;
    }
    to {
        background-position: -5804px top; /* largeur de mon imagebackground*/
    }
}

#background {
    display: block;
    width: auto;
    height: 100%;
    background-image: url(../Assets/images/Background/Background/BackgroundJeuCvSharkfullTEST.png);
    background-repeat: repeat-x;
    background-position: left top;
    -webkit-animation: scrollHorizontalBG 10s linear infinite; /* Safari 4+ */
    -moz-animation:    scrollHorizontalBG 10s infinite; /* Fx 5+ */
    -o-animation:      scrollHorizontalBG 10s infinite; /* Opera 12+ */
    animation:         scrollHorizontalBG 10s infinite linear; /*IE 10+, Fx 29+ */
}

/********** MENU *******/

#menuJeu {
    margin: auto;
    width: 300px;   
}

#boutonInterrogation {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 50px;
    left: 30px;
    height: 25px;
    width: 150px;   
}

#boutonRejouer {
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 52px;
    left: 106px;
    height: 25px;
    width: 150px; 
}


#tempsRestant {
    text-align: center;
    font-size: 1.2em;
    display: inline-block;
    position: absolute;
    line-height:54px;
    margin: auto;
    top: 62px;
    left: 700px;
    height: 58px;
    width: 150px;
    background-color: gold;
    border-radius: 10px;

} 

#score {
    text-align: center;
    font-size: 2em;
    display: inline-block;
    position: absolute;
    line-height:92px;
    margin: auto;
    top: 50px;
    left: 900px;
    height: 100px;
    width: 85px;
    /* background-color: red; */
    border-radius: 7px;
    background-image: url('../Assets/UI/StarfishYellow.png');
    background-repeat: no-repeat;
}

#CV {
    text-align: center;
    font-size: 1.1em;
    display: inline-block;
    position: absolute;
    line-height:100px;
    margin: auto;
    top: 50px;
    left: 1600px;
    height: 100px;
    width: 75px;
    background-image: url('../Assets/CV/MarcOUEDRAOGOCV10.png');
    background-repeat: no-repeat;
}

/******************************/

#regleJeu {

    display: block;
    /* background: orangered; */
    width: 300;
    height: 300;
    /* border: 3px solid green; */
    padding: 10px;
    position: absolute; 
    top: 50%; left: 50%; /* à 50%/50% du parent référent pour etre centre*/
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    border-radius: 10px;

}



/***SHARK***/

#sharkContainer {
    /* masque */
    width: 337px;
    /* largeur d image la plus gde de toutes mes sprites */
    height: 249px;
    /* hauteur d image la plus gde de toutes mes sprites */
    position: absolute;
    z-index: 10;
    overflow: hidden;
    top: 200px;
    /*position top initial de la 1ere image du sprite du geste sharkAttack */
    /* border: 1px solid black; */
}

#sharkContenu {
    /*sprite ou image */
    position: absolute;
    display: block;
    z-index: 10;
}


/***FISH1***/

#fish1ReverseContainer {
    width: 89px;
    height: 41px;
    position: absolute;
    overflow: hidden;
    z-index: 8;
    top: 200px;
    /* hauteur d apparition du poisson */
    left: 1930px;
   
    /* border: 1px solid black; */
}

#fish1ReverseContenu {
    position: absolute;
    display: block;
    z-index: 8;
    top: -1px;
    left: -1639px;
}

/*******MINES************************/
#mineContainer {
    width: px;
    height: px;
    position: absolute;
    overflow: hidden;
    z-index: 8;
    top: px;
    /* hauteur d apparition du poisson */
    left: px;
    /*IMPORTANT A LA FIN DU DEV FAIRE PARTIR LES POISSONS DE 2000 PX SOIT PLUS LOIN QUE LA LARGEUR Du masqueDU BACKGROUND */
    /* border: 1px solid black; */
}

#mineContenu {
    position: absolute;
    display: block;
    z-index: 8;
    top: px;
    left: px;
}




#gameover {
    display: none;
    position: absolute; 
    top: 50%; left: 50%; /* à 50%/50% du parent référent pour etre centre*/
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

/* #rejouer {

} */


#win {
    display: none;
    position: absolute; 
    top: 25%; left: 50%; /* à 25%/50% du parent référent pour etre a 25% de hauteur dc plus haut que le coffre */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}


/***TREASURE***/

#treisureContainer {
    width: 512px;
    height: 465px;
    overflow: hidden;
    display: none;
    z-index: 10;
    top: 500px;
    position: absolute; /* postulat de départ */
    top: 75%; left: 50%; /* à 70%/50% du parent référent dc plus bas que le texte */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
 
    
}

#treisureContenu {
    position: absolute;
    display: block;
    z-index: 10;
    top: -1px;
    left: -1px;
}

